[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = All functions and modules that I feel I need frequently.
[access "refs/*"]
	owner = group user/Deepanshu Yadav (TwistYoFate)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Deepanshu Yadav (TwistYoFate)
	label-Verified = -1..+1 group user/Deepanshu Yadav (TwistYoFate)
	push = group user/Deepanshu Yadav (TwistYoFate)
	read = group user/Deepanshu Yadav (TwistYoFate)
	rebase = group user/Deepanshu Yadav (TwistYoFate)
	removeReviewer = group user/Deepanshu Yadav (TwistYoFate)
	submit = group user/Deepanshu Yadav (TwistYoFate)
[access "refs/heads/*"]
	create = group user/Deepanshu Yadav (TwistYoFate)
	push = +force group user/Deepanshu Yadav (TwistYoFate)
	pushMerge = group user/Deepanshu Yadav (TwistYoFate)
	read = group user/Deepanshu Yadav (TwistYoFate)
[access "refs/tags/*"]
	push = group user/Deepanshu Yadav (TwistYoFate)
	push = +force group user/Deepanshu Yadav (TwistYoFate)
